<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/vendor/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/site.css" />
	<script type="text/javascript" src="scripts/angular.min-1.2.15.js"></script>
	<script type="text/javascript" src="scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid" ng-app="myApp" ng-controller="mainController">
	<div class="jumbotron">
		<div class="container">
			<div class="col-lg-6">
				<div class="brand"><h1><span>Z</span> Trackr</h1> <p>- live tracking made easy!</p></div>
			</div>
			<div class="col-lg-5">
				<div class="stats">
					<div class="col-lg-6">
						<p>API Hits: <span>{{api_hits.api_hits}}</span></p>
					</div>
					<div class="col-lg-6">
						<p>Total Parcels: <span></span></p>
					</div>
				</div>
			</div>
			<div class="col-lg-1 loader">Loader</div>
		</div>
	</div>
	<div class="container content">
		<div class="col-lg-6 column-left">
			<div class="search">
				<form class="form">
					<p><input type="text" placeholder="Search (by parcel name, price, wieght)" ng-model="parcel"></p>
				</form>
			</div>
			<div >
				<ul class="list-group">
					<li class="list-group-item clearfix" ng-repeat="parcel in parcels_data | filter: parcel.name | filter: parcel.price | filter: weight">
						<div class="col-lg-8">{{parcel.name}}</div><div class="col-lg-3">{{parcel.price}}</div>
						<a onclick="update_details(this)" data-name="{{parcel.name}}" data-image="{{parcel.image}}" data-date="{{parcel.date}}" data-type="{{parcel.type}}" data-weight="{{parcel.weight}}" data-phone="{{parcel.phone}}" data-price="{{parcel.price}}" data-quantity="{{parcel.quantity}}" data-color="{{parcel.color}}" data-link="{{parcel.link}}" data-latitude="{{parcel.live_location.latitude}}" data-longitude="{{parcel.live_location.longitude}}" href="#" class="col-lg-1">></a>
					</li>
				</ul>
			</div>
			<div class="sort">
				<div class="col-lg-4">Sort by</div>
				<div class="col-lg-8">
					<div class="col-lg-6"><a href="#" ng-click="reverse=false;order('price', false)">Value</a></div>
					<div class="col-lg-6"><a href="#" ng-click="reverse=false;order('weight', false)">Weight</a></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 column-right">
			<div class="parcel_details">
				<div class="col-lg-6">
					<img src="" />
					<div class="eta"></div>
				</div>
				<div class="col-lg-6 right-panel-data">
					<div class='col-xs-12 header-name'>Airwick Aroma oil</div>
					<div class='col-xs-6'>
						<div class='right-panel-row'>
							<i class="fa fa-cart-arrow-down"></i>Household
						</div>
						<div class='right-panel-row'>
							<i class="fa fa-database"></i>0.6 kg
						</div>
						<div class='right-panel-row'>
							<i class="fa fa-book"></i>989977979
						</div>
					</div>
					<div class='col-xs-6'>
						<div class='right-panel-row'>
							<i class="fa fa-money"></i></h4>274
						</div>
						<div class='right-panel-row'>
							<span style="font-weight: bold;">Q</span>0.6 kg
						</div>
						<div class='right-panel-row'>
							<span style="display: inline-block; width: 20px; height: 10px; background-color: #555555"></span>#555555
						</div>
					</div>
				</div>
			</div>
			<div class="location">
				<h4>Current Location [Live Update]</h4>
				<div id="map"></div>
				<div id='refresh-map'><a href="javascript:void(0);"><i class='fa fa-refresh'></i></a></div>
				<div class="like-share">
					<a class="btn btn-primary" href="#"><i class='fa fa-thumbs-up'></i> Like</a>
					<a class="btn btn-primary" href="#"><i class='fa fa-share-alt'></i> Share</a>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </div>
	<!-- initialise google maps -->
    <script>
	function initMap() {
	  var myLatLng = {lat: -25.363, lng: 131.044};

	  var mapOptions = {
	    zoom: 8,
	    center: myLatLng,
	    disableDefaultUI: true,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  }

	  var map = new google.maps.Map(document.getElementById('map'), mapOptions);

	  var marker = new google.maps.Marker({
	    position: myLatLng,
	    map: map,
	    title: 'Current location'
	  });
	}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=false&callback=initMap"
        async defer></script>

	<!-- Module -->
	<script type="text/javascript" src="scripts/module.js"></script>
	<!-- Main Controller -->
	<script type="text/javascript" src="scripts/mainController.js"></script>
	<!-- Custom script -->
	<script type="text/javascript" src="scripts/scripts.js"></script>
</body>
</html>